
<img class="logo"
     src="@routes.Assets.versioned("images/logoP2M2.png")"
height="30"
alt="The Metabolic Profiling and Metabolomic Platform - Logo"/>

<nav class="menu">
    <ul>
        <li><a href="/importMSF"><span class="material-symbols-outlined">file_upload</span>Import a mass spectrometer results file</a></li>
        <li><a href="/preview"><span class="material-symbols-outlined">preview</span>Merge all results file (preview)</a></li>
        <li><a href="/exportXLS"><span class="material-symbols-outlined">file_download</span>Merge all results files in XLS format ("Results" sheet,"Sample" sheet, "Metabolite" sheet)</a></li>
    </ul>
</nav>